header{
    background-color:  #f8b864;
    height: 50px;
   
}

.click{
    background-color:#f8b864 !important;
    border-radius: 5px;
    color:white ;
}


.isolate .c-1,.isolate .c-2{
   
    border: 0;
    outline: 0;
}
.isolate .c-1{
     border-right: 1px dashed gray;
}



.c-1 a,.c-2 a{

transition:color 0.3s ease-in-out
}

.c-1 a:hover,.c-2 a:hover{
    color: #f8b864 !important;
    text-decoration: underline;
}

.absolute{
    top: 10px !important;
    right: 10px !important;
    /* width: 150px !important; */
}

.img{
    transition: opacity 0.6 ease-in-out;
}

.img:hover{
    opacity:0.7 ;
}

.dash{
    border: 1px dashed gray ;
    
}

.underline{
    max-width:80px; 
    /* height: 1px !important; */
     background-color: hsl(34, 91%, 68%); 
     margin:0 auto;
     padding-top: 20px;
}


.circle{
    border-radius: 50%!important;
    
    
}
  /* 4th container */
  .bg{
    background-image: url("https://html.dynamiclayers.net/dl/charitify/img/featured-bg.jpg") !important;
    background-position: cover;
    background-repeat: no-repeat;
  }




@media (max-width:768px){
    icons{
        display: none;
    }
}


@media (min-width:992px){
    .isolate{
        isolation: isolate;
         margin-top: -80px;
    }
}
