header{
    background-color:  #f8b864;
    height: 50px;
   
}

.click{
    background-color:#f8b864 !important;
    border-radius: 5px;
    color:white ;
}


.isolate .c-1,.isolate .c-2{
   
    border: 0;
    outline: 0;
}
.isolate .c-1{
     border-right: 1px dashed gray;
}



.c-1 a,.c-2 a{

transition:color 0.3s ease-in-out
}

.c-1 a:hover,.c-2 a:hover{
    color: #f8b864 !important;
    text-decoration: underline;
}

.absolute{
    top: 10px !important;
    right: 10px !important;
    /* width: 150px !important; */
}

.img{
    transition: opacity 0.6 ease-in-out;
}

.img:hover{
    opacity:0.7 ;
}

.dash{
    border: 1px dashed gray ;
    
}

.underline{
   width: 80px;
   height: 0;

   border-bottom: 8px solid #f8b864 !important;
}


.circle{
    border-radius: 50%!important;
    
    
}
  /* 4th container */
  .bg{
    background-image: url("https://html.dynamiclayers.net/dl/charitify/img/featured-bg.jpg") !important;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100vh!important;
  }

li{
    list-style-type: none;
    line-height: 35px;
}

.bg1{
    background-image: url("https://html.dynamiclayers.net/dl/charitify/img/page-header-bg.jpg") !important;
    height: 350px;
}


.bg2{
    background-image: url("https://html.dynamiclayers.net/dl/charitify/img/counters-bg.jpg");
    height: 70vh;


}

.dollar{
    font-size: 50px;
}

.bgf{
    background-image: url("https://html.dynamiclayers.net/dl/charitify/img/map.png");
    background-color: rgb(48, 45, 45);
    height: 70vh;
}

@media (max-width:768px){
    icons{
        display: none;
    }
}


@media (min-width:992px){
    .isolate{
        isolation: isolate;
         margin-top: -30px;
         z-index: 1000;
         
    }
}
